<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fundhawk - VC Analytics</title>
    <link href="{{asset "bootstrap.min.css"}}" rel="stylesheet">
    <link href="{{asset "style.css"}}" rel="stylesheet">
    <script type="text/javascript" src="{{asset "application.js"}}"></script>
    <meta charset="utf-8">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36807146-1']);
      _gaq.push(['_setDomainName', 'fundhawk.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class="navbar navbar-static-top navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="/">Fundhawk</a>
      </div>
    </div>
    <div class="container">
      <div class="span10 offset1">
          <input type="text" id="search" autofocus autocomplete="off" placeholder="Search for a VC firm..." onblur="t(event)" onkeyup="search(event)" />
          <ul id="search-results"></ul>
      </div>
    </div>
  </body>
</html>
